{% extends 'base.html' %}

{% block head %}
<title> Sentiment Analysis </title>
{% endblock head %}

{% block body %}
<div class = "content">
    <h1 style = "text-align: center"> Sentiment Analysis </h1>

    <table>
        <tr>
            <th> Tweet </th>
            <th> Sentiment </th>
            <th> Score</th>
            <th> Action </th>
        </tr>
        {% for tweet in sentiments %}
            <tr>
                <td>{{tweet.tweets}} </td>
                <td>{{tweet.sentiment}} </td>
                <td>{{tweet.score}} </td>
                <td>
                    <a href = "/delete/{{tweet.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <form action="/" method = "POST">
        <input type = "text" name = "tweet" placeholder = "Enter Tweet">
        <input type = "submit" value = "Run">
</div>  
{% endblock body %}